name: "Pull Request"
on:
  pull_request:
    branches:
      - trunk
  workflow_dispatch:
jobs:
  vaultTest:
    name: Execute integration tests
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: echo
        run: echo "$ACTIONS_ID_TOKEN_REQUEST_URL"
        shell: bash
      - name: Acquire AWS credentials
        uses: "yardbirdsax/action-aws-assume-federated-role@0.0.1"
        with:
          aws_iam_role_arn: "arn:aws:iam::068845349622:role/GHA-yardbirdsax-goawsssm"
          aws_default_region: us-east-2
      - name: Install Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 1.0.8
          terraform_wrapper: false
      - name: Run Go tests
        uses: ./.github/actions/test
        with:
          go-version: 1.16